*{
    margin:0;
    padding: 0;
}body{
    background-color: rgb(130, 232, 189);
}input,textarea{
    width:100%;
padding: 10px;
border: none;
outline: none;
border-bottom:  1px solid rgb(54, 45, 45);
box-sizing: border-box;
resize: none;
}

input[type="text"]:focus,textarea:focus{
    border-bottom: 2px solid rgb(232, 83, 183);
   
} /*send message button*/
.sm{
    background-color: rgb(229, 142, 214);
    color:rgb(85, 22, 211);
    padding: 10px 20px;
}
label{
    display: block;
}
.error{
    color:rgb(225, 9, 9);
}#success{
    color:rgb(22, 225, 192);
}overlay{
    height: 100vh;
    width: 100px;
    position: fixed;
}form{
    width: 80%;
    background-color: rgb(240, 244, 247);
    margin: 20vh  auto 0 auto;
    padding: 40px;
    box-sizing: border-box; 
}